.jumbotron-billboard .img {
    margin-bottom: 0px;
    max-height: 510px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("https://bootstrapcreative.com/wp-bc/wp-content/uploads/2017/03/learning-story.png") top center no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
},

.textwrapper {  
    white-space: pre-wrap;      /* for Webkit */    
    white-space: -moz-pre-wrap; /* for Firefox */     
    white-space: -pre-wrap;     /* for Opera versions less than v7 */    
    white-space: -o-pre-wrap;   /* for Opera v7 */     
    word-wrap: break-word;      /* for IE */ 
 },

 .yellow{
     color: yellow
 }